{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="info-box">Shopping Cart</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        {{ cart_items }}
                    </div>
                {% else %}
                    <p class="color-yellow">Your Cart Is Empty</p>
                    <a class="color-yellow" href="{% url 'products' %}">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Keep Browsing</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
