{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <img src="/media/photomode_16122020_210140.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col l8 m6">
                <h1><a href="">explore our new stock!</a></h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col l12">
                <h5>What is GamerGarage ?</h5>
            </div>
            <div>
                <div class="row">
                    <div class="col s12 m6">
                      <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <p>gamergarage is a place for buying games, controllers and other accessories for great prices. Most of our stock comes from other shops as “unsold products” so you can help out and clear the stock for cheap!
                                <hr>

                            Note that unsold products doesn’t mean faulty or used,
                            
                            it’s just products that have been laying in the storage for too long and have to be cleared out
                            </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col l12">
                <h4>Start Shopping Now!</h4>
                <h6><a href="">Create Account</a></h6>
            </div>
        </div>
    </div>
{% endblock %}