body, html {
    height: 100%;
    background-color: #383838;
}

/* hero-image */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("/media/photomode_16122020_210140.png");
    height: -webkit-fill-available;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

/* no margin custom class */

.no-margin {
    margin: 0;
}

/* navigation elements */

nav {
    box-shadow: none;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}