<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto tourney">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=ps_game" class="dropdown-item">PlayStation</a>
                <a href="{% url 'products' %}?category=x_game" class="dropdown-item ">Xbox</a>
                <a href="{% url 'products' %}?category=pc_game" class="dropdown-item ">PC</a>
                <a href="{% url 'products' %}?category=ps_game,pc_game,x_game" class="dropdown-item">All Platforms</a> <!-- add all platforms url -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Controllers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=ps_controller" class="dropdown-item">PlayStation</a>
                <a href="{% url 'products' %}?category=x_controller" class="dropdown-item">Xbox</a>
                <a href="{% url 'products' %}?category=ps_controller,x_controller" class="dropdown-item">All Platforms</a> <!-- add all platforms url -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Headsets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=turt_headset" class="dropdown-item">Tutle Beach</a> <!-- add turtle beach url -->
                <a href="{% url 'products' %}?category=logi_headset" class="dropdown-item">Logitech</a> <!-- add logitech url -->
                <a href="{% url 'products' %}?category=turt_headset,logi_headset" class="dropdown-item">All Brands</a> <!-- add all brands url -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Keyboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=raz_keyboard" class="dropdown-item">Razer</a> <!-- add razer url -->
                <a href="{% url 'products' %}?category=logi_keyboard" class="dropdown-item">Logitech</a> <!-- add logitech url -->
                <a href="{% url 'products' %}?category=raz_keyboard,logi_keyboard" class="dropdown-item">All Brands</a> <!-- add all brands url -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mouse
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=raz_mouse" class="dropdown-item">Razer</a> <!-- add razer url -->
                <a href="{% url 'products' %}?category=logi_mouse" class="dropdown-item">Logitech</a> <!-- add logitech url -->
                <a href="{% url 'products' %}?category=logi_mouse,raz_mouse" class="dropdown-item">All Brands</a> <!-- add all brands url -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mouse Pads
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=mouse_pad" class="dropdown-item">All Brands</a> <!-- add razer url -->
            </div>
        </li>
    </ul>
</div>