{% load static %}

<!DOCTYPE html>
  <htmlm lang="en">
    <head>
    {% block meta %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

      <title>GamerGarage {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
      <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
              <a href="{% url 'home' %}" class="brand-logo center">GamerGarage</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="">Account</a></li>
                <li>
                  <a href="">
                    {% if total_price %}
                      ${{ total_price|floatformat:2 }}
                    {% else %}
                      $0.00
                    {% endif %}
                  </a>
                </li>
              </ul>
                <!-- search bar-->
                <form method="GET" action="" class="hide-on-med-and-down">
                  <div class="input-field" style="max-width: 400pt;">
                    <input id="search" type="search" name="q" placeholder="search">
                    <label class="label-icon" for="search"></label>
                    <i class="material-icons">close</i>
                    <div id="searchResults"></div>
                  </div>
                </form>
            </div>
          </nav>
        </div>


      <div class="navbar-fixed">
        <nav class="nav-center">
            <div class="nav-wrapper">
              <ul id="nav-mobile" class="center hide-on-med-and-down">
                <li><a href="">Controllers</a></li>
                <li><a href="">Games</a></li>
                <li><a href="">Headsets</a></li>
                <li><a href="">PC</a></li>
              </ul>
            </div>
          </nav>
        </div>


        {% if messages %}
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}

    </body>
  </html>